        <div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" width="16" height="16" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
        %%GLOBAL_MaintenanceNotice%%
               
        <div id="Outer">
            <div id="Header">
                <div id="Logo">

                    %%GLOBAL_HeaderLogo%%
                </div>
                %%Panel.CartAndSearch%%

                %%Panel.PagesMenu%%

                %%Panel.DropDownCategories%%

                <!--%%Panel.HeaderSearch%%-->
                <br class="Clear" />
            </div>
        </div>
            
