                <div class="Block RecentNews Moveable Panel" id="HomeRecentBlogs"   style="display:%%GLOBAL_HideHomeRecentBlogsPanel%%">
                    <h1>%%LNG_RecentNews%%</h1>
                    <div class="BlockContent">
                        %%SNIPPET_RecentBlogs%%
                    </div>
                    <div class="additionallink">
                        %%SNIPPET_PreviousBlogs%%
                        %%SNIPPET_NextBlogs%%
                    </div>
                </div>
                <br class="Clear" />