                <div class="Block CategoryContent Moveable Panel" id="CategoryContent">
                    <form name="frmSecureCheck" id="frmSecureCheck" action="%%GLOBAL_SecureCategoryLink%%" method="post">
                        <div class="FormContainer HorizontalFormContainer">
                            <img src="%%GLOBAL_ShopPath%%/%%GLOBAL_CategoryImageURL%%">
                            <p style="text-align: left;">Please enter the password provided to you by your team/group/club administrator to view products</p>
                            <div style="%%GLOBAL_ShowCateogoryPasswordIsWrong%% overflow: hidden;">
                                <img alt="Error: " src="%%GLOBAL_IMG_PATH%%/ErrorMessage.gif" style="float: left; margin-right:10px;"><p style="float:left;">%%GLOBAL_CateogoryPasswordIsWrong%%</p>
                            </div>
                            <dl style="float:left;">
                                <dt style="width: 100px">&nbsp;&nbsp; Password:</dt>
                                <dd style="width: 250px; margin-left: 100px;padding-top:0px"><input type="password" id="CategoryPassword" name="CategoryPassword" size="30" value="" /></dd>
                            </dl>
                            <p style="float:left;">
                                <input type="submit" value="Go" />
                            </p>
                        </div>
                    </form>
                </div>
<script type="text/javascript">
//<![CDATA[
    $('#frmSecureCheck').submit(function() {
        var email_address = $('#CategoryPassword').val();
        if($('#CategoryPassword').val() == '') {
            alert('Please input the password.');
            $('#CategoryPassword').focus();
            return false;
        }
        return true;
    });
//]]>
</script>