<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript">
</script>
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>


<link rel="stylesheet" href="<?php echo $GLOBALS['ShopPathNormal'] ?>/addons/galleryeditorbywas33m/styles/styles.css"  />

<script src="<?php echo $GLOBALS['ShopPathNormal'] ?>/addons/galleryeditorbywas33m/scripts/form_validator.js" type="text/javascript">
</script>

<script src="<?php echo $GLOBALS['ShopPathNormal'] ?>/addons/galleryeditorbywas33m/scripts/javascript.js" type="text/javascript"></script>

<script src="<?php echo $GLOBALS['ShopPathNormal'] ?>/addons/galleryeditorbywas33m/scripts/site_jquery.js" type="text/javascript"></script>